* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: all 2s ease;
}


#a {
    background-color: rgb(53, 53, 53);
    height: 50vh;
    top: 0;
    position: relative;
}

#b {
    background-color: rgb(53, 53, 53);
    height: 50vh;
    position: relative;
    bottom: 0;
}

/* Efeito de transição */
#a.a {
    top: -50vh;
}

#b.b {
    bottom: -50vh;
}

.texto p {
color: rgb(87, 87, 87);
font-size: 0px;
z-index: 999;
display: none; /* Começa escondido */
animation: fadeIn 2s ease;

}

@keyframes fadeIn {
from {
opacity: 0;
height: 0;
}
to {
opacity: 1;
height: auto;
}
}
html, body{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}

.texto.show {
position: absolute;
right: 50%; /* Alterado de 34% para 50% */
top: 49%;
transform: translateX(50%); /* Adicionado para centralizar */
font-family: Arial, Helvetica, sans-serif;
white-space: nowrap;
}


/* Nova classe para esconder a div B após a transição */
.b-hidden {
    display: none;
}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 45%;
}

.loader div {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
}

@keyframes anim {
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-40px);
    }
}

@keyframes anim2 {
    0%, 100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}

.logo img {
  opacity: 0.2;
  left: 25%;
  top: 15%;
  position: absolute;
}




.direita {
    background-color: rgb(91, 91, 91);
    width: 20%;
    height: 100vh;
    right: 10%;
    position: absolute;
    top: 0;
    opacity: 0; /* Inicia com opacidade 0 para não ser visível */
    transition: opacity 3s ease; /* Adapte a duração conforme necessário */
}

.bloco {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.menu {
    color: #ffffff;
    font-family:'Leelawadee UI Semilight';
    right: 6%;
    position: absolute;
    top: -700px; /* Inicia o menu fora do campo visual */
    z-index: 2;
    transition: top 1s ease; /* Adiciona uma transição suave para a propriedade 'top' */
    
}

.item {
    background-color: #262626;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.menu h2 {
    margin-bottom: 100px;
    font-family: 'Corbel Light';
    font-size: 30px;
    font-weight: 1px;
    color: aliceblue;
    overflow: hidden;    
}


.perfeito {
    position: fixed;
    color: #333;
    margin-left: 100px;
    top: -500px; /* Inicia o elemento fora do campo visual */
    transition: top 1s ease; /* Adiciona uma transição suave para a propriedade 'top' */
}
  
  .container.hidden {
    display: none; /* Esconde o elemento com a classe 'container'. */
  }

  .container {
    display: block;
  }

  .botoes {
    text-align: right;
    position: fixed;
    top: -500px; /* Inicia os botões fora do campo visual */
    margin-left: 96px;
    transition: top 1s ease; /* Adiciona uma transição suave para a propriedade 'top' */
}
  
  
  /* Estilização para os botões dentro da classe "botoes" */
  .botoes button {
    font-family: "Segoe UI Black"; /* Use a fonte personalizada com alternativa genérica */
    background-color: #d8c200;
    color: #333333da; /* Cor do texto branca */
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    display: block; /* Faz com que os botões ocupem toda a largura disponível */
    transform: translateY(-5px); /* Move o botão para cima ao passar o mouse */
    box-shadow: 0px 5px 10px #00000094; /* Adiciona uma sombra */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Adiciona transições suaves */
  
    /* Efeito 3D */
    perspective: 1000px; /* Define a perspectiva para criar o efeito 3D */
  }
  
  
  .botoes button:hover {
    transform: translateY(-10px) translateZ(10px); /* Move o botão para cima e para frente */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais pronunciada */
  }
  

  
@font-face {
    font-family: 'GeosansLight'; /* Dê um nome à sua fonte */
    src: url('/entre/oceano/afundo/fonts/GeosansLight.ttf') format('woff2'),
         url('/entre/oceano/afundo/fonts/GeosansLight.ttf') format('woff');
    /* Inclua todos os formatos que você tem disponíveis */
  }
  
  h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    margin-top: 350px;
    margin-bottom: 40px;

  }
  
  
  p {
  
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 10px;


  }



