/* RESPONSIVO - CLASSE .LOCAL *//*////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media only screen and (min-width: 401px) and (max-width: 600px) {


    html,body{

        height: 200vh;

    }

    #localone {
        width: 92%;
        height: 65vh;
        left: 4%;
        display: block;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;

    }




    h1{


        margin-bottom: 60px;
        font-size: 18px;
        text-align: center;       

    }

    .ab h1{

        top: 40%;
        margin-left:15%;
    }

    
    .ac h1{

        top: 21%;
        margin-left:21%;
    }

    
    .ad h1{

        top: 51%;
        margin-left:23%;
    }


    .ae h1{

        top: 10%;
        margin-left:17%;
    }
    
    .ab p{

        top: 10%;
        left:8%;
        width: 99%;
    }

    
    .ac p{

        top: 33%;
        left:4%;
        width: 99%;
    }

    
    .ad p{

        top: 55%;
        left:2%;
    }


    .ae p{

        top: 78%;
        left:30%;
    }




    /* CLASSE .BO *//* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


    .bloco{

        display: none;
    }


    button{

        display: none;
        
    }

    h2{
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 400px) {

    html,body{

        height: 200vh;

    }

    #localone {
        width: 92%;
        height: 75vh;
        left: 4%;
        display: block;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        bottom: -73%;
        position: absolute;
    }




    h1{


        margin-bottom: 50px;
        font-size: 18px;
        text-align: center;       

    }

    .ab h1{

        top: 40%;
        margin-left:15%;
    }

    
    .ac h1{

        top: 21%;
        margin-left:21%;
    }

    
    .ad h1{

        top: 51%;
        margin-left:23%;
    }


    .ae h1{

        top: 0%;
        margin-left:17%;
        
    }
    
    .ab p{

        top: 10%;
        left:1%;
        width: 99%;
        text-align: center;

    }

    
    .ac p{

        top: 35%;
        left:1%;
        width: 99%;
        text-align: center;

    }

    
    .ad p{

        top: 57%;
        left:3%;
        text-align: center;

    }


    .ae p{

        top: 81%;
        left:30%;
        text-align: center;

    }

    
    /* CLASSE .BO *//* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


    .bloco .a{

        width: 60%;
        height: 15vh;
        top: 40%;
        left: 15%;
    }


    .bloco .cax{
        
        margin-top: 55%;
        margin-left: 5%;
        width: 85%;
        height: 30vh;
    }

    .bloco img{

        left: 26%;
        z-index: 4;
        top: 34%;

    }


    .fafa #botaoRolar {

        top: 93%;
    }

    .fafa h2{

        display: block;
        font-size: 25px;
        left: 30px;
        top: 5%;
    }

    .fafa #botaoAssistir {
        display: block;
        width: 120px;
        height: 25px;
        top: 18%;
        font-size: 18px;
    }

    .fafa #botaoInicio{
        display: block;
        width: 120px;
        height: 25px;
        font-size: 18px;
        left: 7%;
        top: 51%;
    }

    .bo {

        font-size: 25px;
        left: -45%;
        top: 43%;


    }
    

}
